<div class="container">
  <div class="content-area">
    <div class="user-area">
      <div class="icon-area">
        <%= image_tag @user.icon_image.icon.url,  class: "icon" %>
      </div>
      <div class="user-date">
        <div class="user-name">
          <h2><%= @user.name %></h2>
        </div>
        <div class="user-edit">
          <%= link_to edit_user_path(@user.id), class: "btn edit-btn" do %>
            <i class="fas fa-cog">プロフィール編集</i>
          <% end %>
        </div>
      </div>
    </div>
    <nav class="content-nav">
      <ul>
        <li><a class="nav-link" href="#">あなたの投稿</a></li>
        <li><a class="nav-link" href="#">いいね！した写真</a></li>
      </ul>
    </nav>
  </div>
</div>
