/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
body {
  background-color: #fafafa;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 80px;
  line-height: 2.6;
}

 .flash_message {
  color: #fff;
  text-align: center;
}

 .danger {
   background-color: #f1655c;
 }

.notice {
  background-color: #00ff9c;
}

 .field_with_errors input{
border: 1px solid #da3c41;
}

.icon {
  border-radius: 50%;
}

.form-group {
  margin: auto;
}

.submit {
  text-align: center;
  padding-top: 10px;
}

.title {
  margin: auto;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.user-area {
  height: 220px;
  margin-top: 50px;
}

.content-nav{
  border-bottom: 1px solid #ccc;
  position: relative;
  width: 100%;
  margin: auto;
}
.content-nav ul{
  position: absolute;
  display: table;
  width: 100%;
  text-align: center;
  table-layout: fixed;
  padding-left: 0;
}
.content-nav ul li{
  display: table-cell;
}
.content-nav ul li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
}

.content-nav ul li:hover{
  border-top: 1px solid #575757;
}

.content-nav ul li:activ {
  border-top: 1px solid #575757;
}

.content-nav ul li a:activ{
  color: #575757;
}
